# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
.idea
/serverless.yml
/.idea/dictionaries/NRL.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/evelyn-forms.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/node_modules/.bin/glob-all
/node_modules/.bin/glob-all.cmd
/node_modules/.bin/md5-file
/node_modules/.bin/md5-file.cmd
/node_modules/.bin/rimraf
/node_modules/.bin/rimraf.cmd
/node_modules/appdirectory/test/tests.js
/node_modules/appdirectory/.npmignore
/node_modules/appdirectory/.travis.yml
/node_modules/appdirectory/LICENSE.md
/node_modules/appdirectory/Makefile
/node_modules/appdirectory/package.json
/node_modules/appdirectory/README.md
/node_modules/array-filter/test/filter.js
/node_modules/array-filter/test/holes.js
/node_modules/array-filter/.npmignore
/node_modules/array-filter/.travis.yml
/node_modules/array-filter/index.js
/node_modules/array-filter/package.json
/node_modules/array-filter/README.md
/node_modules/array-map/example/map.js
/node_modules/array-map/test/map.js
/node_modules/array-map/.travis.yml
/node_modules/array-map/index.js
/node_modules/array-map/LICENSE
/node_modules/array-map/package.json
/node_modules/array-map/readme.markdown
/node_modules/array-reduce/example/sum.js
/node_modules/array-reduce/test/reduce.js
/node_modules/array-reduce/.travis.yml
/node_modules/array-reduce/index.js
/node_modules/array-reduce/LICENSE
/node_modules/array-reduce/package.json
/node_modules/array-reduce/readme.markdown
/node_modules/balanced-match/.npmignore
/node_modules/balanced-match/index.js
/node_modules/balanced-match/LICENSE.md
/node_modules/balanced-match/package.json
/node_modules/balanced-match/README.md
/node_modules/bluebird/js/browser/bluebird.core.js
/node_modules/bluebird/js/browser/bluebird.core.min.js
/node_modules/bluebird/js/browser/bluebird.js
/node_modules/bluebird/js/browser/bluebird.min.js
/node_modules/bluebird/js/release/any.js
/node_modules/bluebird/js/release/assert.js
/node_modules/bluebird/js/release/async.js
/node_modules/bluebird/js/release/bind.js
/node_modules/bluebird/js/release/bluebird.js
/node_modules/bluebird/js/release/call_get.js
/node_modules/bluebird/js/release/cancel.js
/node_modules/bluebird/js/release/catch_filter.js
/node_modules/bluebird/js/release/context.js
/node_modules/bluebird/js/release/debuggability.js
/node_modules/bluebird/js/release/direct_resolve.js
/node_modules/bluebird/js/release/each.js
/node_modules/bluebird/js/release/errors.js
/node_modules/bluebird/js/release/es5.js
/node_modules/bluebird/js/release/filter.js
/node_modules/bluebird/js/release/finally.js
/node_modules/bluebird/js/release/generators.js
/node_modules/bluebird/js/release/join.js
/node_modules/bluebird/js/release/map.js
/node_modules/bluebird/js/release/method.js
/node_modules/bluebird/js/release/nodeback.js
/node_modules/bluebird/js/release/nodeify.js
/node_modules/bluebird/js/release/promise.js
/node_modules/bluebird/js/release/promise_array.js
/node_modules/bluebird/js/release/promisify.js
/node_modules/bluebird/js/release/props.js
/node_modules/bluebird/js/release/queue.js
/node_modules/bluebird/js/release/race.js
/node_modules/bluebird/js/release/reduce.js
/node_modules/bluebird/js/release/schedule.js
/node_modules/bluebird/js/release/settle.js
/node_modules/bluebird/js/release/some.js
/node_modules/bluebird/js/release/synchronous_inspection.js
/node_modules/bluebird/js/release/thenables.js
/node_modules/bluebird/js/release/timers.js
/node_modules/bluebird/js/release/using.js
/node_modules/bluebird/js/release/util.js
/node_modules/bluebird/changelog.md
/node_modules/bluebird/LICENSE
/node_modules/bluebird/package.json
/node_modules/bluebird/README.md
/node_modules/brace-expansion/index.js
/node_modules/brace-expansion/LICENSE
/node_modules/brace-expansion/package.json
/node_modules/brace-expansion/README.md
/node_modules/concat-map/example/map.js
/node_modules/concat-map/test/map.js
/node_modules/concat-map/.travis.yml
/node_modules/concat-map/index.js
/node_modules/concat-map/LICENSE
/node_modules/concat-map/package.json
/node_modules/concat-map/README.markdown
/node_modules/core-util-is/float.patch
/node_modules/core-util-is/LICENSE
/node_modules/core-util-is/package.json
/node_modules/core-util-is/README.md
/node_modules/core-util-is/test.js
/node_modules/fs.realpath/index.js
/node_modules/fs.realpath/LICENSE
/node_modules/fs.realpath/old.js
/node_modules/fs.realpath/package.json
/node_modules/fs.realpath/README.md
/node_modules/fs-extra/CHANGELOG.md
/node_modules/fs-extra/LICENSE
/node_modules/fs-extra/package.json
/node_modules/fs-extra/README.md
/node_modules/glob/changelog.md
/node_modules/glob/common.js
/node_modules/glob/glob.js
/node_modules/glob/LICENSE
/node_modules/glob/package.json
/node_modules/glob/README.md
/node_modules/glob/sync.js
/node_modules/glob-all/bin/glob-all
/node_modules/glob-all/example/files/x/y.txt
/node_modules/glob-all/example/files/x/z.txt
/node_modules/glob-all/example/files/a.txt
/node_modules/glob-all/example/files/b.txt
/node_modules/glob-all/example/files/c.txt
/node_modules/glob-all/example/async.js
/node_modules/glob-all/example/events.js
/node_modules/glob-all/example/order.js
/node_modules/glob-all/example/perf.js
/node_modules/glob-all/example/sync.js
/node_modules/glob-all/test/test.js
/node_modules/glob-all/.npmignore
/node_modules/glob-all/glob-all.js
/node_modules/glob-all/package.json
/node_modules/glob-all/README.md
/node_modules/graceful-fs/clone.js
/node_modules/graceful-fs/graceful-fs.js
/node_modules/graceful-fs/legacy-streams.js
/node_modules/graceful-fs/LICENSE
/node_modules/graceful-fs/package.json
/node_modules/graceful-fs/polyfills.js
/node_modules/graceful-fs/README.md
/node_modules/immediate/LICENSE.txt
/node_modules/immediate/package.json
/node_modules/immediate/README.md
/node_modules/inflight/inflight.js
/node_modules/inflight/LICENSE
/node_modules/inflight/package.json
/node_modules/inflight/README.md
/node_modules/inherits/inherits.js
/node_modules/inherits/inherits_browser.js
/node_modules/inherits/LICENSE
/node_modules/inherits/package.json
/node_modules/inherits/README.md
/node_modules/is-wsl/index.js
/node_modules/is-wsl/license
/node_modules/is-wsl/package.json
/node_modules/is-wsl/readme.md
/node_modules/isarray/.npmignore
/node_modules/isarray/.travis.yml
/node_modules/isarray/component.json
/node_modules/isarray/index.js
/node_modules/isarray/Makefile
/node_modules/isarray/package.json
/node_modules/isarray/README.md
/node_modules/isarray/test.js
/node_modules/jsonfile/CHANGELOG.md
/node_modules/jsonfile/index.js
/node_modules/jsonfile/LICENSE
/node_modules/jsonfile/package.json
/node_modules/jsonfile/README.md
/node_modules/jsonify/test/parse.js
/node_modules/jsonify/test/stringify.js
/node_modules/jsonify/index.js
/node_modules/jsonify/package.json
/node_modules/jsonify/README.markdown
/node_modules/jszip/vendor/FileSaver.js
/node_modules/jszip/.codeclimate.yml
/node_modules/jszip/.editorconfig
/node_modules/jszip/.jshintignore
/node_modules/jszip/.jshintrc
/node_modules/jszip/.travis.yml
/node_modules/jszip/CHANGES.md
/node_modules/jszip/LICENSE.markdown
/node_modules/jszip/package.json
/node_modules/jszip/README.markdown
/node_modules/lie/license.md
/node_modules/lie/lie.d.ts
/node_modules/lie/package.json
/node_modules/lie/polyfill.js
/node_modules/lie/README.md
/node_modules/lodash.get/index.js
/node_modules/lodash.get/LICENSE
/node_modules/lodash.get/package.json
/node_modules/lodash.get/README.md
/node_modules/lodash.set/index.js
/node_modules/lodash.set/LICENSE
/node_modules/lodash.set/package.json
/node_modules/lodash.set/README.md
/node_modules/lodash.uniqby/index.js
/node_modules/lodash.uniqby/LICENSE
/node_modules/lodash.uniqby/package.json
/node_modules/lodash.uniqby/README.md
/node_modules/lodash.values/index.js
/node_modules/lodash.values/LICENSE
/node_modules/lodash.values/package.json
/node_modules/lodash.values/README.md
/node_modules/md5-file/cli.js
/node_modules/md5-file/index.js
/node_modules/md5-file/LICENSE.md
/node_modules/md5-file/package.json
/node_modules/md5-file/promise.js
/node_modules/md5-file/README.md
/node_modules/minimatch/LICENSE
/node_modules/minimatch/minimatch.js
/node_modules/minimatch/package.json
/node_modules/minimatch/README.md
/node_modules/minimist/example/parse.js
/node_modules/minimist/test/bool.js
/node_modules/minimist/test/dash.js
/node_modules/minimist/test/default_bool.js
/node_modules/minimist/test/dotted.js
/node_modules/minimist/test/long.js
/node_modules/minimist/test/num.js
/node_modules/minimist/test/parse.js
/node_modules/minimist/test/parse_modified.js
/node_modules/minimist/test/short.js
/node_modules/minimist/test/whitespace.js
/node_modules/minimist/.travis.yml
/node_modules/minimist/index.js
/node_modules/minimist/LICENSE
/node_modules/minimist/package.json
/node_modules/minimist/readme.markdown
/node_modules/once/LICENSE
/node_modules/once/once.js
/node_modules/once/package.json
/node_modules/once/README.md
/node_modules/pako/CHANGELOG.md
/node_modules/pako/index.js
/node_modules/pako/LICENSE
/node_modules/pako/package.json
/node_modules/pako/README.md
/node_modules/path-is-absolute/index.js
/node_modules/path-is-absolute/license
/node_modules/path-is-absolute/package.json
/node_modules/path-is-absolute/readme.md
/node_modules/process-nextick-args/index.js
/node_modules/process-nextick-args/license.md
/node_modules/process-nextick-args/package.json
/node_modules/process-nextick-args/readme.md
/node_modules/readable-stream/doc/wg-meetings/2015-01-30.md
/node_modules/readable-stream/.travis.yml
/node_modules/readable-stream/CONTRIBUTING.md
/node_modules/readable-stream/duplex.js
/node_modules/readable-stream/duplex-browser.js
/node_modules/readable-stream/GOVERNANCE.md
/node_modules/readable-stream/LICENSE
/node_modules/readable-stream/package.json
/node_modules/readable-stream/passthrough.js
/node_modules/readable-stream/readable.js
/node_modules/readable-stream/readable-browser.js
/node_modules/readable-stream/README.md
/node_modules/readable-stream/transform.js
/node_modules/readable-stream/writable.js
/node_modules/readable-stream/writable-browser.js
/node_modules/rimraf/bin.js
/node_modules/rimraf/LICENSE
/node_modules/rimraf/package.json
/node_modules/rimraf/README.md
/node_modules/rimraf/rimraf.js
/node_modules/safe-buffer/index.d.ts
/node_modules/safe-buffer/index.js
/node_modules/safe-buffer/LICENSE
/node_modules/safe-buffer/package.json
/node_modules/safe-buffer/README.md
/node_modules/serverless-python-requirements/index.js
/node_modules/serverless-python-requirements/LICENSE
/node_modules/serverless-python-requirements/package.json
/node_modules/serverless-python-requirements/README.md
/node_modules/serverless-python-requirements/unzip_requirements.py
/node_modules/set-immediate-shim/index.js
/node_modules/set-immediate-shim/package.json
/node_modules/set-immediate-shim/readme.md
/node_modules/shell-quote/example/env.js
/node_modules/shell-quote/example/op.js
/node_modules/shell-quote/example/parse.js
/node_modules/shell-quote/example/quote.js
/node_modules/shell-quote/test/comment.js
/node_modules/shell-quote/test/env.js
/node_modules/shell-quote/test/env_fn.js
/node_modules/shell-quote/test/op.js
/node_modules/shell-quote/test/parse.js
/node_modules/shell-quote/test/quote.js
/node_modules/shell-quote/test/set.js
/node_modules/shell-quote/.travis.yml
/node_modules/shell-quote/index.js
/node_modules/shell-quote/LICENSE
/node_modules/shell-quote/package.json
/node_modules/shell-quote/readme.markdown
/node_modules/string_decoder/.travis.yml
/node_modules/string_decoder/LICENSE
/node_modules/string_decoder/package.json
/node_modules/string_decoder/README.md
/node_modules/universalify/index.js
/node_modules/universalify/LICENSE
/node_modules/universalify/package.json
/node_modules/universalify/README.md
/node_modules/util-deprecate/browser.js
/node_modules/util-deprecate/History.md
/node_modules/util-deprecate/LICENSE
/node_modules/util-deprecate/node.js
/node_modules/util-deprecate/package.json
/node_modules/util-deprecate/README.md
/node_modules/wrappy/LICENSE
/node_modules/wrappy/package.json
/node_modules/wrappy/README.md
/node_modules/wrappy/wrappy.js
/node_modules/yargs/example/bool.js
/node_modules/yargs/example/boolean_double.js
/node_modules/yargs/example/boolean_single.js
/node_modules/yargs/example/count.js
/node_modules/yargs/example/default_hash.js
/node_modules/yargs/example/default_singles.js
/node_modules/yargs/example/demand_count.js
/node_modules/yargs/example/divide.js
/node_modules/yargs/example/implies.js
/node_modules/yargs/example/implies_hash.js
/node_modules/yargs/example/line_count.js
/node_modules/yargs/example/line_count_options.js
/node_modules/yargs/example/line_count_wrap.js
/node_modules/yargs/example/nonopt.js
/node_modules/yargs/example/requires_arg.js
/node_modules/yargs/example/short.js
/node_modules/yargs/example/strict.js
/node_modules/yargs/example/string.js
/node_modules/yargs/example/usage-options.js
/node_modules/yargs/example/xup.js
/node_modules/yargs/test/_/bin.js
/node_modules/yargs/test/_.js
/node_modules/yargs/test/config.json
/node_modules/yargs/test/count.js
/node_modules/yargs/test/dash.js
/node_modules/yargs/test/mocha.opts
/node_modules/yargs/test/parse.js
/node_modules/yargs/test/parse_camelCase.js
/node_modules/yargs/test/parse_defaults.js
/node_modules/yargs/test/parse_modified.js
/node_modules/yargs/test/short.js
/node_modules/yargs/test/usage.js
/node_modules/yargs/test/whitespace.js
/node_modules/yargs/.npmignore
/node_modules/yargs/.travis.yml
/node_modules/yargs/index.js
/node_modules/yargs/LICENSE
/node_modules/yargs/package.json
/node_modules/yargs/README.md
/.idea/
